@use '@/assets/scss/_vars.scss' as *;
@use '@/assets/scss/_mixins.scss' as *;

.combat {
    display: grid;
    grid-template-columns: repeat(auto-fit, 325px);
    justify-content: center;
    gap: 15px;
}
