@use '@/assets/scss/_vars.scss' as *;
@use '@/assets/scss/_mixins.scss' as *;

.combat {
    display: grid;
    grid-template-columns: repeat(auto-fit, 220px);
    justify-content: center;
    gap: 30px;
    padding: 15px 0;

    @include tablet {
        padding: 0;
        gap: 20px;
    }
}
