@use './vars' as *;

body {
    font-family: $font_family_main;
    font-size: $font_size_main;
    color: $color_main;
    background: #555;
}

a {
    color: teal;
    text-decoration: none;
    font-family: $font_family_main;
    transition: color $transition;

    &:focus,
    &:hover {
        color: teal;
    }
}

img {
    display: block;
    width: 100%;
}

input {
    height: 40px;
    background: #ccc;

    &[type='number'] {
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        // Firefox-specific hack to hide number input arrows
        // This is safe to use
        -moz-appearance: textfield;
    }
}

button {
    cursor: pointer;
}

input,
button {
    padding: 4px 8px;
    font-family: $font_family_main;
    font-size: $font_size_main;
    color: $color_main;
    border: none;

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }

    &:focus:not(:disabled) {
        border: none;
        outline: none;
    }
}
