@use './vars' as *;

body {
	font-family: $font_family_main;
	font-size: $font_size_main;
	color: $color_main;
	background: #eee;
}

button {
	border: none;
	cursor: pointer;
}

a {
	color: #555;
	text-decoration: none;
	transition: color $transition;

	&:focus,
	&:hover {
		color: #333;
	}
}

img {
	display: block;
	width: 100%;
}

input,
select {
	font-size: $font_size_main;
}

input,
select,
textarea,
button {
	&:focus {
		border: none;
		outline: none;
	}
}
