@use './vars' as *;

body {
    font-family: $font_family_main;
    font-size: $font_size_main;
    color: $color_main;
}

a {
    color: #555;
    text-decoration: none;
    font-family: $font_family_main;
    transition: color $transition;

    &:focus,
    &:hover {
        color: #222;
    }
}

img {
    display: block;
    width: 100%;
}

input,
select {
    background: #ddd;
    border: none;

    &:disabled {
        color: #999;
        background: #eee;
        opacity: 1;
    }
}

button {
    border: none;
    cursor: pointer;
}

input,
select,
textarea,
button {
    font-family: $font_family_main;
    font-size: $font_size_main;
    color: $color_main;

    &:focus {
        border: none;
        outline: none;
    }
}
