@mixin page($img, $img_settings) {
    height: 100%;
    padding: 15px;
    background: gray url($img) $img_settings no-repeat;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        background: gray;
    }
    &::-webkit-scrollbar-thumb {
        background: #333;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

@mixin mobile {
    @media (max-width: 480px) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin laptop {
    @media (max-width: 1024px) {
        @content;
    }
}
