@import url('https://fonts.googleapis.com/css2?family=Allerta&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

// Fonts =================================
$font_family_main: Roboto, sans-serif;
$font_family_decor: Allerta, sans-serif;
$font_size_main: 16px;

// Colors ================================
$color_main: #2b2b2b;

// Shadows ===============================

$box_shadow_main: 2px 3px 5px #555;
$box_shadow_small: 1px 2px 3px gray;

// Transition ============================
$transition: 0.15s linear;
