@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Savate:ital,wght@0,200..900;1,200..900&display=swap');

// Fonts =================================
$font_family_main: Roboto, sans-serif;
$font_family_decor: Savate, sans-serif;

// Colors ================================
$color_main: #202020;
