@import url('https://fonts.googleapis.com/css2?family=Allerta&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

// Fonts =================================
$font_family_main: Roboto, sans-serif;
$font_family_decor: Allerta, sans-serif;
$font_size_main: 16px;

// Colors ================================
$color_main: #333;

$color_red: red;
$color_gray: gray;
$color_green: teal;
$color_blue: #3884db;
$color_papyrus: #eee0b7;
$color_wood: linear-gradient(to right, #2f2217, #6a4b2a, #2f2217);
$color_wood_light: linear-gradient(to right, #b89852, #e4ce95, #b89852);
$color_ruby: linear-gradient(575deg, #f82424, #f8c2c2, #f34343, #bd0000);
$color_nefrit: linear-gradient(575deg, #4de247, #c2f8c7, #70eb6c, #06971e);
$color_silver: linear-gradient(575deg, #aaa, #eee, #bbb, #888);

// Shadows ===============================

$box_shadow_main: 2px 4px 6px black;
$box_shadow_small: 1px 2px 4px #333;

// Transition ============================
$transition: 0.15s linear;

// Layout ================================
$height_header: 60px;

// Combat card ===========================

$combat_card_width: 200px;
$combat_card_width_small: 170px;
