@use '../../assets/scss/_vars.scss' as *;
@use '../../assets/scss/_mixins.scss' as *;

.confirm-modal {
    max-width: 440px;
    width: 100%;

    &__message {
        margin-bottom: 30px;
        font-size: 18px;
        text-align: center;
    }

    &__btn-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        width: 100%;
    }
}
