@use '../../assets/scss/_vars.scss' as *;
@use '../../assets/scss/_mixins.scss' as *;

.settings {
	&__form {
		width: 350px;

		@include mobile {
			width: 100%;
		}
	}

	&__title {
		margin-bottom: 15px;
		font-size: 20px;
		font-weight: 600;
		text-align: center;
	}

	&__fields {
		display: flex;
		flex-direction: column;

		& > .settings__btn {
			margin-top: 30px;
		}
	}

	&__field {
		display: flex;
		flex-direction: column;

		span:nth-child(1) {
			font-size: 14px;
		}

		&:not(:last-of-type) {
			margin-bottom: 15px;
		}
	}

	&__input {
		background: $color_white;
	}

	&__input,
	&__btn {
		height: 36px;
		padding: 4px 8px;
		border: 1px solid #bbb;
		border-radius: 4px;

		@include mobile {
			height: 50px;
		}
	}

	&__btn {
		text-transform: uppercase;
		color: $color_white;
		background: teal;

		&--reset {
			width: 350px;
			margin-top: 30px;
			background: red;

			@include mobile {
				width: 100%;
			}
		}
	}

	&__monster-select {
		display: flex;
		align-items: center;
		gap: 5px;

		.settings__input {
			flex-grow: 1;
			width: 100%;
		}

		.settings__btn {
			flex-shrink: 0;
			text-transform: uppercase;
		}
	}

	&__selected-monsters {
		width: 350px;
		margin-top: 30px;

		@include mobile {
			width: 100%;
		}
	}

	&__selected-monster {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 10px;
		min-height: 60px;
		padding: 5px;
		line-height: 1;
		background: $color_white;
		box-shadow: 1px 2px 4px #ccc;

		&:not(:last-child) {
			margin-bottom: 5px;
		}

		& > span {
			display: flex;
			align-items: center;
			gap: 10px;
		}

		button {
			padding: 0;
			background: none;
		}

		&-svg-delete {
			display: block;
			width: 25px;
			fill: red;

			@include tablet {
				width: 30px;
			}
		}

		&-img {
			display: block;
			width: 50px;
			height: 50px;
		}

		@include mobile {
			width: 100%;
		}
	}

	&__infinity-message {
		padding: 15px;
		background: $color_white;
		border-radius: 4px;

		span:first-child {
			display: block;
			margin-bottom: 10px;
		}
	}
}
