@use '@/assets/scss/_vars.scss' as *;
@use '@/assets/scss/_mixins.scss' as *;

.settings {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__btn {
        width: 200px;
    }

    &__warning {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 330px;

        margin: 0 auto;
    }
}
