@use '../../assets/scss/_vars.scss' as *;

.creature {
    &__about {
        display: flex;
        gap: 30px;
        line-height: 1;
    }

    &__name {
        margin-bottom: 10px;
        font-family: $font_family_decor;
        font-size: 32px;
        font-weight: 600;
    }

    &__content {
        display: flex;
        gap: 25px;
    }

    &__img {
        width: 200px;
        height: 200px;
    }

    &__rating {
        font-size: 18px;
    }

    .initiative {
        h3 {
            margin-bottom: 5px;
        }

        span,
        button {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 40px;
            font-size: 20px;
            border: 1px solid #000;
        }
    }
}
