@use '@/assets/scss/_vars.scss' as *;
@use '@/assets/scss/_mixins.scss' as *;

.roll-modal {
    background: $color_wood;
}

.roll-display {
    width: max-content;
    margin: 0 auto;
    min-height: 102px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: $color_papyrus;
    white-space: wrap;

    @include respond(mobile) {
        font-size: $font_size_main;
    }

    &__btn {
        width: 100%;
        margin-top: 30px;
    }
}
