@use '../../assets/scss/_vars.scss' as *;
@use '../../assets/scss/_mixins.scss' as *;

.characters {
    @include page('../../assets/img/barbarian.png', bottom right / contain);

    display: flex;
    align-content: start;
    flex-wrap: wrap;
    gap: 15px;

    @include laptop {
        justify-content: center;
    }
}
