@use '@/assets/scss/_vars.scss' as *;
@use '@/assets/scss/_mixins.scss' as *;

.unit-menu {
    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px;
        background: none;

        svg {
            transition: fill $transition;
        }

        &:hover,
        &--active {
            svg {
                fill: teal;
            }
        }
    }

    &__popup {
        position: absolute;
        top: 100%;
        right: -5px;
        padding: 15px 0;
        background: white;
        box-shadow: $box_shadow_small;
    }
}
