@use '../../assets/scss/_vars.scss' as *;
@use '../../assets/scss/_mixins.scss' as *;

.battleground {
    @include page('../../assets/img/dwarf.png', bottom right / contain);

    &__alert {
        max-width: 650px;
        margin: 15px auto 0;
        padding: 30px 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        background: rgba(255, 255, 255, 0.9);
        box-shadow: $box_shadow_main;

        &-title {
            margin-bottom: 30px;
            font-size: 24px;
            font-weight: 600;
            text-align: center;
        }

        &-link {
            &,
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                max-width: 200px;
                width: 100%;
                height: 40px;
                margin: 0 auto;
                padding: 4px 8px;
                color: white;
                text-transform: uppercase;
                background: teal;

                @include mobile {
                    height: 50px;
                }
            }
        }
    }

    &__units {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;

        @include laptop {
            justify-content: center;
        }
    }

    &__unit {
        max-width: 620px;
        width: 100%;
        border: 5px solid $color_main;
        transition: all $transition;

        @include laptop {
            max-width: 400px;
        }

        &--disabled {
            border-color: #ccc;
            color: gray;
        }
    }
}
