@use '../../assets/scss/_vars.scss' as *;
@use '../../assets/scss/_mixins.scss' as *;

.battleground {
    &__alert {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__title {
        margin-bottom: 30px;
        font-size: 24px;
        font-weight: 600;
        text-align: center;
    }

    &__link {
        &,
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 200px;
            width: 100%;
            height: 40px;
            margin: 0 auto;
            padding: 4px 8px;
            color: $color_white;
            text-transform: uppercase;
            background: teal;

            @include mobile {
                height: 50px;
            }
        }
    }

    &__units {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;

        @include tablet {
            grid-template-columns: 1fr;
        }
    }

    &__unit {
        border: 2px solid green;

        &--disabled {
            border-color: transparent;
        }
    }
}
