@use '../../assets/scss/_vars.scss' as *;
@use '../../assets/scss/_mixins.scss' as *;

.page-layout {
    height: 100vh;
    overflow: hidden;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 15px;
        background: #ccc;
    }

    &__logo {
        display: flex;
        align-items: center;
        column-gap: 2px;

        &-img {
            display: block;
            width: 50px;
            height: 50px;

            @include mobile {
                width: 40px;
                height: 40px;
            }
        }

        &-text {
            font-family: $font_family_decor;
            font-size: 32px;
            font-weight: 600;
            line-height: 1;

            @include tablet {
                font-size: 28px;
            }

            @include mobile {
                font-size: 24px;
            }
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        gap: 20px;

        a {
            text-transform: uppercase;
        }

        @include tablet {
            position: fixed;
            top: 50px;
            left: -100%;
            bottom: 0;
            z-index: 100;
            flex-direction: column;
            width: 100%;
            padding: 30px 0;
            background: #888;
            transition: left $transition;

            a {
                color: $color_white;
            }
        }

        &--active {
            @include tablet {
                display: flex;
                left: 0;
            }
        }

        .router-link-active.router-link-exact-active {
            color: teal;
            text-decoration: underline;
            text-underline-offset: 4px;

            @include tablet {
                color: cyan;
            }
        }
    }

    &__nav-btn {
        display: none;
        height: 32px;
        padding: 4px 12px;
        text-transform: uppercase;
        border-radius: 4px;

        @include tablet {
            display: block;
        }
    }

    &__main {
        height: calc(100vh - 90px);
        margin-top: 15px;
        padding: 0 15px 15px;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 6px;
        }
        &::-webkit-scrollbar-track {
            background: #fff;
        }
        &::-webkit-scrollbar-thumb {
            background: #bbb;
            border-radius: 4px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: #aaa;
        }
    }
}
