@use 'sass:color';
@use '@/assets/scss/_vars.scss' as *;
@use '@/assets/scss/_mixins.scss' as *;

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    height: 40px;
    padding: 4px 12px;
    font-size: 14px;
    border: none;
    transition: all $transition;

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    &--bold {
        font-weight: 600;
    }

    &--upper {
        text-transform: uppercase;
    }

    &--default {
        color: $color_main;
        background: #ddd;

        &:hover:not(:disabled) {
            background: #ccc;
        }
    }

    &--green {
        color: white;
        background: $color_green;

        &:hover:not(:disabled) {
            background: color.adjust($color_green, $lightness: -5%);
        }
    }

    &--gray {
        color: white;
        background: $color_gray;

        &:hover:not(:disabled) {
            background: color.adjust($color_gray, $lightness: -5%);
        }
    }

    &--red {
        color: white;
        background: $color_red;

        &:hover:not(:disabled) {
            background: color.adjust($color_red, $lightness: -15%);
        }
    }

    &--blue {
        color: white;
        background: $color_blue;

        &:hover:not(:disabled) {
            background: color.adjust($color_blue, $lightness: -10%);
        }
    }
}
