@use '../../assets/scss/_vars.scss' as *;
@use '../../assets/scss/_mixins.scss' as *;

.monsters {
    @include page('../../assets/img/kobold.png', right / contain);

    display: flex;
    align-items: start;
    gap: 15px;

    @include laptop {
        justify-content: center;
    }

    @include tablet {
        align-items: center;
        justify-content: start;
        flex-direction: column;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        max-width: 400px;
        min-height: 560px;
        padding: 15px;
        background: white;
        box-shadow: $box_shadow_main;

        &-title {
            font-size: 20px;
            font-weight: 600;
            text-align: center;
        }

        &-fields {
            display: flex;
            flex-direction: column;

            & > .monsters__btn {
                margin-top: 30px;
            }
        }

        &-field {
            display: flex;
            flex-direction: column;

            span:nth-child(1) {
                font-size: 14px;
                line-height: 1.4;
            }

            &:not(:last-of-type) {
                margin-bottom: 15px;
            }
        }

        &-input {
            height: 40px;
            padding: 4px 8px;
            background: #ddd;
            border: none;
        }

        &-infinity-message {
            flex-grow: 1;
            margin-top: 15px;
            padding: 15px;
            background: #ddd;

            span:first-child {
                display: block;
                margin-bottom: 10px;
            }
        }

        &-btn-container {
            flex-grow: 1;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: end;
            align-content: end;
            gap: 15px;
            width: 100%;
            padding: 15px 0;

            @include mobile {
                grid-template-columns: 1fr;
            }
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        width: 100%;
        max-width: 400px;

        @include tablet {
            flex-direction: column;
            align-items: center;
        }

        &-item {
            flex-shrink: 0;
            display: flex;
            justify-content: space-between;
            gap: 10px;
            max-width: 400px;
            width: 100%;
            min-height: 100px;
            padding: 15px;
            line-height: 1.2;
            background: #ddd;
            box-shadow: $box_shadow_main;

            &-img {
                display: block;
                width: 70px;
                height: 70px;
            }

            &-desc {
                flex-grow: 1;
            }

            &-name {
                font-weight: 600;
                margin-bottom: 10px;
            }

            &-stats {
                span {
                    display: inline-block;
                    margin-right: 20px;
                }
            }

            &-btn {
                background: transparent;

                svg {
                    display: block;
                    width: 35px;
                    fill: red;
                }
            }
        }
    }
}
