@use '@/assets/scss/_vars.scss' as *;
@use '@/assets/scss/_mixins.scss' as *;

.encounters {
    @include auto_grid(340px);

    @include respond(mobile) {
        @include auto_grid;
    }

    .encounter {
        position: relative;
        padding: 15px;
        background: white;
        box-shadow: $box_shadow_small;

        &__name {
            font-size: 18px;
            font-weight: 600;
        }

        &__name,
        &__participants {
            margin-bottom: 10px;
        }

        &__action {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 15px;

            &-status {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 5px 8px;
                line-height: 1;
                border: 1px solid;

                &--ready {
                    color: green;
                    border-color: green;
                }

                &--process {
                    color: #347fe0;
                    border-color: #347fe0;
                }

                &--completed {
                    color: red;
                    border-color: red;
                }
            }

            &-status,
            &-play {
                width: 100px;
                height: 30px;
            }

            &-play {
                display: inline-flex;
            }
        }

        &__menu {
            position: absolute;
            top: 0;
            right: 0;

            &-btn {
                text-align-last: left;
                width: 100%;
                padding: 5px 25px;
                opacity: 0.7;
                background: white;
                transition: opacity $transition;

                &:not(:last-child) {
                    margin-bottom: 5px;
                }

                &:first-child {
                    color: $color_green;
                }

                &:last-child {
                    color: red;
                }

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}
