@use '@/assets/scss/_vars.scss' as *;
@use '@/assets/scss/_mixins.scss' as *;

.unit {
    position: relative;
    display: flex;
    gap: 15px;
    padding: 15px;
    background: white;
    box-shadow: $box_shadow_small;

    div {
        line-height: 1;
    }

    &__info {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &__name {
        padding-right: 20px;
        text-transform: uppercase;
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
    }

    &__action {
        position: absolute;
        top: 0;
        right: 0;

        &-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 4px;
            background: none;

            svg {
                transition: fill $transition;
            }

            &:hover,
            &--active {
                svg {
                    fill: teal;
                }
            }
        }
    }

    &__menu {
        position: absolute;
        top: 100%;
        right: -5px;
        padding: 15px 0;
        background: white;
        box-shadow: $box_shadow_small;

        &-btn {
            text-align-last: left;
            width: 100%;
            padding: 5px 25px;
            opacity: 0.7;
            background: white;
            transition: opacity $transition;

            &:not(:last-child) {
                margin-bottom: 5px;
            }

            &:first-child {
                color: teal;
            }

            &:last-child {
                color: red;
            }

            &:hover {
                opacity: 1;
            }
        }
    }
}
