@use '@/assets/scss/_vars.scss' as *;
@use '@/assets/scss/_mixins.scss' as *;

.initiative-modal {
    &__name {
        margin-bottom: 15px;
        font-family: $font_family_decor;
        font-size: 18px;
    }

    &__name,
    &__message {
        text-align: center;
    }

    &__message {
        margin-bottom: 20px;
    }

    &__form {
        display: grid;
        grid-template-columns: 100px 50px;
        grid-template-rows: 40px;
        justify-content: center;

        &-input {
            text-align: center;
        }
    }
}
