@use '@/assets/scss/_vars.scss' as *;
@use '@/assets/scss/_mixins.scss' as *;

.home {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__options {
        flex-grow: 1;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 15px;
    }

    &__option {
        grid-row: 3;
        background: rgba(10, 10, 10, 0.8);
        box-shadow: 2px 3px 5px #333;
        transition: all $transition;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 10px 15px;
        font-size: 30px;
        font-weight: 600;
        color: white;

        &:hover {
            transform: scale(1.04);
        }
    }
}

.home-decor {
    height: 15px;
    background: #000;
}
