@use '@/assets/scss/_vars.scss' as *;
@use '@/assets/scss/_mixins.scss' as *;

.combat-card {
    @include card_size($combat_card_width);

    & {
        display: flex;
        flex-direction: column;
        background: $color_wood;
        box-shadow: $box_shadow_small;
        transition: box-shadow $transition;
    }

    @include respond(mobile) {
        @include card_size($combat_card_width_small);
    }

    &__screen {
        position: relative;
    }

    &__edit-menu {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
    }

    &__img {
        position: relative;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: inherit;
            height: inherit;
            display: block;
            background: transparent;
        }
    }

    &__name {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 26px;
        padding: 1px 0 4px;
        font-family: $font_family_decor;
        font-size: 14px;
        line-height: 1;
        text-align: center;
        color: white;
    }

    &__actions {
        position: relative;
    }

    &__btns {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 40px);
        gap: 4px;
    }

    &__btn {
        @include box_shadow_raised;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding: 0;
        line-height: 1;
        white-space: nowrap;
        background: $color_papyrus;
        transition: box-shadow $transition;

        @include respond(mobile) {
            gap: 3px;
            font-size: 14px;
        }

        &:active {
            @include box_shadow_inset;
        }

        svg {
            width: 22px;
            height: 22px;
            fill: #555;

            @include respond(mobile) {
                width: 20px;
                height: 20px;
            }
        }

        span {
            flex-grow: 0;
            display: flex;
            padding-top: 1px;
            line-height: 1;

            @include respond(mobile) {
                padding-top: 0;
            }
        }

        &--above {
            color: $color_blue;

            svg {
                fill: $color_blue;
            }
        }

        &--below {
            color: $color_red;

            svg {
                fill: $color_red;
            }
        }
    }

    &__indicator {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        width: 25px;
        height: 25px;
        padding: 4px;
        background: linear-gradient(45deg, #5e4225, #6a4b2a, #5e4225);

        div {
            @include box_shadow_raised;
            width: 100%;
            height: 100%;
            background: $color_silver;
        }
    }

    &--active {
        .combat-card__indicator {
            div {
                background: $color_nefrit;
            }
        }

        box-shadow: $box_shadow_main;
    }

    &--wait {
        .combat-card__indicator {
            div {
                background: $color_ruby;
            }
        }
    }

    &--bloodied {
        .combat-card__img {
            &::after {
                background: linear-gradient(
                    to top,
                    rgba(255, 0, 0, 0.8),
                    rgba(255, 0, 0, 0.2),
                    transparent
                );
            }
        }
    }

    &--out {
        background: #333;
        box-shadow: none;

        .combat-card__img {
            &::after {
                background: black url('@/assets/img/skull.webp') center / contain no-repeat;
                opacity: 0.3;
            }
        }

        .combat-card__indicator {
            background: #333;

            div {
                background: black;
                box-shadow: none;
            }
        }
    }
}
